_ kiwami/tools/n8n-cybozu-chatwork.json
{
  "name": "サイボウズOffice未読→Chatwork通知",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "schedule",
      "name": "10分おきに実行",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkstaff.cybozu.com/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "_account",
              "value": "={{$vars.CYBOZU_USERNAME}}"
            },
            {
              "name": "_password",
              "value": "={{$vars.CYBOZU_PASSWORD}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "login",
      "name": "サイボウズにログイン",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://linkstaff.cybozu.com/o/ag.cgi?page=NotificationIndex",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{$node['サイボウズにログイン'].json.headers['set-cookie'].join('; ')}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-notifications",
      "name": "未読一覧を取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// 未読一覧HTMLから通知を抽出\nconst html = $input.first().json.data || $input.first().json.body || '';\n\n// n8nのStatic Dataで前回送信済みの通知を管理\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sentNotifications) {\n  staticData.sentNotifications = [];\n}\n\n// HTML解析（サイボウズOfficeの未読一覧ページ構造に合わせて調整が必要）\n// 基本的なパターン: リンクテキストと日時を抽出\nconst notifications = [];\n\n// 未読アイテムを正規表現で抽出\n// ※実際のHTML構造に合わせて調整してください\nconst itemRegex = /<a[^>]*href=\"([^\"]*?)\"[^>]*>(.*?)<\\/a>/gi;\nlet match;\n\nwhile ((match = itemRegex.exec(html)) !== null) {\n  const url = match[1];\n  const title = match[2].replace(/<[^>]*>/g, '').trim();\n  \n  if (title && url.includes('ag.cgi')) {\n    const id = url + '|' + title;\n    \n    if (!staticData.sentNotifications.includes(id)) {\n      notifications.push({\n        title: title,\n        url: 'https://linkstaff.cybozu.com' + (url.startsWith('/') ? url : '/o/' + url),\n        id: id\n      });\n    }\n  }\n}\n\n// 送信済みリストを更新（最新500件のみ保持）\nconst newIds = notifications.map(n => n.id);\nstaticData.sentNotifications = [...staticData.sentNotifications, ...newIds].slice(-500);\n\nif (notifications.length === 0) {\n  return []; // 新着なし → 後続ノードをスキップ\n}\n\n// Chatwork用メッセージを組み立て\nlet message = '[info][title]📌 サイボウズOffice 新着通知[/title]';\nfor (const n of notifications) {\n  message += `・${n.title}\\n${n.url}\\n`;\n}\nmessage += '[/info]';\n\nreturn [{ json: { message, count: notifications.length } }];"
      },
      "id": "parse-html",
      "name": "未読を解析・重複排除",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.chatwork.com/v2/rooms/{{$vars.CHATWORK_ROOM_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{$vars.CHATWORK_API_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{$json.message}}"
            },
            {
              "name": "self_unread",
              "value": "0"
            }
          ]
        }
      },
      "id": "chatwork",
      "name": "Chatworkへ送信",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    }
  ],
  "connections": {
    "10分おきに実行": {
      "main": [
        [
          {
            "node": "サイボウズにログイン",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "サイボウズにログイン": {
      "main": [
        [
          {
            "node": "未読一覧を取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未読一覧を取得": {
      "main": [
        [
          {
            "node": "未読を解析・重複排除",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未読を解析・重複排除": {
      "main": [
        [
          {
            "node": "Chatworkへ送信",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
